/**
 * Style.css
 * Styling for Limeaid page.
 */

 /* wrapper for all of the content */
 #wrapper
 {
 	margin: 0px auto;
 	width: 1000px;
 }

/* set global styling */
 body
 {
 	font-family: 'Droid Sans', sans-serif;
 }

/* hyperlink formatting */
a:link {text-decoration:none; color:#000000;}      /* unvisited link */
a:visited {text-decoration:none; color:#000000;}  /* visited link */
a:hover {text-decoration:none; color:#000000;}  /* mouse over link */
a:active {text-decoration:none; color:#000000;}  /* selected link */

 /* header styling */
#header 
{
	top: 0px;
	left: 0px;
	height: 100px;
	width: 985px;
	margin-bottom: 10px;
	position: relative;

	border:1px solid black;
	/*gradient*/
	background: -webkit-gradient(linear, left top, left bottom, from(#090A08), to(#262E23));
	background: -moz-linear-gradient(top,  #090A08,  #262E23);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#090A08', endColorstr='#262E23');
	/*corners*/
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 10px 0px 0px 0px;
	padding: 4px;

	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

/* limeaid logo styling */
.logo
{
	margin-left: 300px;
	height:100px;
}

/** %%%%%%%%  xml styling section %%%%%%%% **/
#leftColumn
{
	margin-top:10px;
	float: left;
	/*border: 1px solid black;*/
	width: 400px;
	height: 500px;
}

#xmlSelector
{
	height: 100px;
	width: 100%;
	margin-bottom: 10px;

	border: 1px solid red;
}

#xmlSort
{
	height: 100px;
	width: 100%;
	margin-bottom: 10px;

	border: 1px solid red;
}

#xmlDisplay
{
	height: 500px;
	width: 580px;
	margin-bottom: 10px;
	padding-left:5px;
	padding-right: 5px;

	top: 120px;
	float:right;

	/*border: 1px solid green;*/

	overflow: scroll;
}

.xmlItem
{
	background-color: #09E83D;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 10px 0px 0px 0px;
	padding: 4px;
	border: 1px solid #09E83D;


	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

/** %%%%%%%%  assignee styling section %%%%%%%% **/
#addAssignee
{
	height:50px;
	width: 190px;
	margin-bottom:10px;
	margin-right:5px;
	float:left;
	/*border: 1px solid black;*/
}

#manageAssignee
{
	height:50px;
	width: 190px;
	margin-bottom:10px;
	float:right;
	/*border: 1px solid black;*/
}

#sendEmail
{
	height:50px;
	width: 190px;
	margin-bottom:10px;
	margin-left:5px;
	float:left;
	/*border: 1px solid black;*/
}

#trackStatus
{
	height:50px;
	width: 190px;
	margin-bottom:10px;
	float:right;
}

#currentAssignees
{
	width: 100%;
	height: 370px;
	float:left;
	/*border:1px dashed black;*/

	overflow: scroll;
}

#assigneeBrowser
{
	width:500px;
	height:500px;
	overflow: scroll;
}
/** %%%%%%%%  addAssignee page styling section %%%%%%%% **/
.error
{
	background-color: red;
}
.success
{
	background-color: green;
}

/** %%%%%%%% table styling %%%%%%%% **/
table 
{
  border-collapse: collapse;
  border: 1px solid #666666;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  color: #36850F;
  background: #f6f6f6;
  text-align:left;

  margin:0px auto;
}

caption 
{
	text-align: center;
	font: bold 16px arial, helvetica, sans-serif;
	background: transparent;
	padding:6px 4px 8px 0px;
	color: black;
	text-transform: uppercase;
}

thead, tfoot 
{
	/*background:url(images/tableBg.png) repeat-x;*/
	text-align:left;
	height:30px;
	color:#28570D;
}

thead th, tfoot th 
{
	padding:5px;
}

table a 
{
	color: #333333;
	text-decoration:none;
}

table a:hover 
{
	text-decoration:underline;
}

tr.odd 
{
	background: #f1f1f1;
}

tbody th, tbody td 
{
	padding:5px;
}

/** %%%%%%%%  sexy button styling section %%%%%%%% **/


/* set global button styling */
 button, .button_class
 {
 	width: 100%;
 	height: 100%;

 	/* pretty-ness */
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

 }

.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* pretty lime buttons */
.green {
	color: #000000; 
	border: solid 1px #70BA63;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#3CFA1A), to(#35D419));
	background: -moz-linear-gradient(top,  #3CFA1A,  #35D419);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3CFA1A', endColorstr='#35D419');
}
	
.green:active, .green:hover {
	color: #000000; 
	background: -webkit-gradient(linear, left top, left bottom, from(#35D419), to(#3CFA1A));
	background: -moz-linear-gradient(top,  #35D419,  #3CFA1A);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#35D419', endColorstr='#3CFA1A');
}

/** %%%%%%%%  trackStatus page styling section %%%%%%%% **/

#tableContent
{
	margin-top: 10px;
	padding: 5px;
	border:1px solid red;
}

.tableHeaders
{
	padding-right:20px;
}

.edit
{
	/* override the default button for the editable regions */

}